/** AVATARS **/

.container {
  position: relative;
  display: flex;
}

.avatarContainer {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  background-color: rgb(234 88 12);
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid #e2e7ef;
}

.name {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(255 255 255);
}

.statusIndicator,
.statusIndicatorOnline {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  border: 1.5px solid #e2e7ef;
  position: absolute;
  bottom: 0.3rem;
  left: -0.2rem;
  transform: translateY(50%) translateX(50%);
}

.popup {
  position: absolute;
  top: 4rem;
  padding: 1rem;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  min-width: 240px;
}

.nameOthers {
  z-index: 20;
  font-size: 0.75rem;
}

.statusIndicatorOnline {
  background-color: #10b981;
}

.textWhite {
  color: #fff;
}

.inactiveColor {
  color: rgb(156 163 175);
}

.inactiveBackground {
  background-color: rgb(156 163 175);
}

/** END AVATARS **/

/** SURPLUS **/

.surplusContainer {
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 0.875rem;
  background-color: #718096;
  border: 2px solid #cbd5e0;
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  margin-bottom: 0.5rem;
  user-select: none;
}

.list {
  max-height: 70px;
  overflow-y: auto;
  padding: 0.5rem;
  position: relative;
  top: 3.5rem;
  left: 1.5rem;
  min-width: 280px;
  max-height: 250px;
  left: 6rem;
  background-color: #39414e;
  border-radius: 8px;
  color: #fff;
}

.user {
  padding: 0.5rem;
}

.user:hover {
  background-color: #4a5568;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .user {
    padding: 0.75rem;
  }
}

/** END SURPLUS **/

/** USER INFO **/

.userInfoContainer {
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid #cbd5e0;
}

.statusIndicator {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userList {
  padding-left: 0.75rem;
  width: 100%;
}

.name {
  display: block;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0 0 2px 0;
}

.statusIndicatorText {
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0 0 0 0.3rem;
  color: #89929f;
}

.smallText {
  font-size: 0.75rem;
}

/** END USER INFO **/
