html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Inter, ui-sans-serif, system-ui;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}


/* #app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#avatar-stack {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */

/** AVATARS **/

.avatarsContainer {
  position: relative;
  display: flex;
}

.avatarContainer {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  background-color: rgb(234 88 12);
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid #e2e7ef;
}

.name {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(255 255 255);
}

.statusIndicator,
.statusIndicatorOnline {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  border: 1.5px solid #e2e7ef;
  position: absolute;
  bottom: 0.3rem;
  left: -0.2rem;
  transform: translateY(50%) translateX(50%);
}

.popup {
  position: absolute;
  top: 4rem;
  padding: 1rem;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  min-width: 240px;
}

.nameOthers {
  z-index: 20;
  font-size: 0.75rem;
}

.statusIndicatorOnline {
  background-color: #10b981;
}

.textWhite {
  color: #fff;
}

.inactiveColor {
  color: rgb(156 163 175);
}

.inactiveBackground {
  background-color: rgb(156 163 175);
}

/** END AVATARS **/

/** SURPLUS **/

.surplusContainer {
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 0.875rem;
  background-color: #718096;
  border: 2px solid #cbd5e0;
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  margin-bottom: 0.5rem;
  user-select: none;
}

.list {
  max-height: 70px;
  overflow-y: auto;
  padding: 0.5rem;
  position: relative;
  top: 3.5rem;
  left: 1.5rem;
  min-width: 280px;
  max-height: 250px;
  left: 6rem;
  background-color: #39414e;
  border-radius: 8px;
  color: #fff;
}

.user {
  padding: 0.5rem;
}

.user:hover {
  background-color: #4a5568;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .user {
    padding: 0.75rem;
  }
}

/** END SURPLUS **/

/** USER INFO **/

.userInfoContainer {
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid #cbd5e0;
}

.statusIndicator {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userList {
  padding-left: 0.75rem;
  width: 100%;
}

.name {
  display: block;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0 0 2px 0;
}

.statusIndicatorText {
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0 0 0 0.3rem;
  color: #89929f;
}

.smallText {
  font-size: 0.75rem;
}

/** END USER INFO **/

.example-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #f4f8fb;
    height: auto;
    width: 100%;
}

.avatarStackContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f4f8fb;
  height: 100vh;
}

